VITE_SUPABASE_URL=https://ssckphhvxftbhpylhfmy.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_L8xNBMNQwu-cDtolW5b6IA_9SeR65Kb
VITE_MAKE_WEBHOOK_PHASE1=https://hook.us2.make.com/... (copied from Make after setup)
VITE_MAKE_WEBHOOK_PHASE2=https://hook.us2.make.com/... (copied from Make after setup)
